---
layout: default
---
<main id="index" {% if site.sidebar %}class="with-sidebar"{% endif %}>
{% if paginator.page != 1 %}
  {% include pagination.html position="top" %}
{% endif %}
  
{%- for post in site.posts -%}
  {%- if post.sticky == true and paginator.page == 1 -%}
    {% include index-post.html %}
  {%- endif -%}
{%- endfor -%}

{%- for post in paginator.posts -%}
  {%- unless post.sticky -%}
    {% include index-post.html %}
  {%- endunless -%}
{%- endfor -%}

{% include pagination.html %}
</main>

{% if site.sidebar %}
<aside>
</aside>
{% endif %}
