{% comment %} 
fallback option if responsive images are not present, will remove this when
an automatic generation process is in place
{% endcomment %}

{% capture default_image %} 
  {{ site.defaults[0].values.image.path }} 
{% endcapture %}

{% capture featured_image %} 
  {{ page.image }} 
{% endcapture %}

{% capture featured_alt %} 
  {{ page.alt }} 
{% endcapture %}

{% capture featured_caption %} 
  {{ page.caption }} 
{% endcapture %}

{% capture alt %}
  {% if include.alt %}
    {{ include.alt | strip_html | escape  }}
  {% elsif include.caption %}
    {{ include.caption | markdownify | strip_html | escape }}
  {% endif %}
{% endcapture %}

{% capture accessibility %}
  {% if include.src == default_image or include.src == author_image %} 
    role="presentation" aria-hidden="true"
  {% else %} 
    aria-labelledby="{{ include.src | strip }}"
  {% endif %}
{% endcapture %}

<figure class="{{ include.class | strip }}" style="max-width:{{ include.width | strip }}px" {{ accessibility | strip }}>
  <img  src="{{ site.paths.images | relative_url }}/{{ include.src | remove: 'assets/img/' | strip }}" 
        alt="{{ alt | strip }}"
        width="{{ include.width }}"
        loading="lazy">
  <figcaption id="{{ include.src | strip }}">
    <p>{{ include.caption | markdownify | strip_html | escape }}</p>
  </figcaption>
</figure>  
