<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ site.paths.stylesheets | relative_url }}/style.css{{ site.time | date:'?v=%s' }}">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
  <link rel="icon" href="{{ site.paths.icons | relative_url }}/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ site.paths.icons | relative_url }}/apple.png">
  <link rel="manifest" href="{{ site.paths.icons | relative_url }}/manifest.webmanifest">
  <script src="{{ site.paths.scripts | relative_url }}/lightbox.js" defer></script>
  {% feed_meta %}
  {% seo %}  
  {% unless page.excerpt.size > 0 %}
  {%- capture description -%}
    {%- if page.layout == "author" or page.layout == "post" or page.layout == "page" -%}
      {{ page.content | truncate: 160 | markdownify | strip_html | normalize_whitespace | escape }}
    {%- else -%}
      {{ site.site_description }}
    {%- endif -%}
  {%- endcapture -%}
  <meta name="description" content="{{ description }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta itemprop="description" content="{{ description }}" />
  {% endunless %}
</head>
