{% capture default_image %} 
  {{ site.default_image }} 
{% endcapture %}

{% capture width %}
  {% if include.class contains "img-thumb" %}
      {{ site.responsive_images.thumb | strip }}
    {% elsif include.class contains "img-small" %}
      {{ site.responsive_images.small | strip }}
    {% else %}
      {{ site.responsive_images.medium | strip }}
  {% endif %}
{% endcapture %}

{% if site.responsive_images.active %}
  {% capture srcset %}
    {% capture sizes %}
      {%- for size in site.responsive_images.width -%}
        {{ site.paths.images | relative_url }}/{{ size | strip }}/{{ include.src | remove: 'assets/img/' | strip }} {{ size | strip }}w,
      {%- endfor -%}
    {% endcapture %}
    {{ sizes | split: ',' | join: ', ' }}
  {% endcapture %}

  {% capture sizes %}
    {% if include.class contains "img-thumb" %}
      {{ site.responsive_images.thumb_sizes | strip }}
    {% elsif include.class contains "img-small" %}
      {{ site.responsive_images.small_sizes | strip }}
    {% else %}
        {{ site.responsive_images.medium_sizes | strip }}
    {% endif %}  
  {% endcapture %}
{% endif %}

{% capture accessibility %}
  {% if include.src == default_image or include.src == author_image %} 
    role="presentation" aria-hidden="true"
  {% else %} 
    aria-labelledby="{{ include.src | strip }}"
  {% endif %}
{% endcapture %}


<figure class="{{ include.class | default: "img-medium" | strip }} {{ page.class | strip }}" style="max-width:{{ width | strip }}px" {{ accessibility | strip }}>
  <img  {% if site.responsive_images.active %} 
        srcset="{{ srcset | strip }}"
        sizes="{{ sizes | strip }}"
        {% endif %}
        src="{{ site.paths.images | relative_url }}/{%- if site.responsive_images.active -%}{{ width | strip }}/{%- endif -%}{{ include.src | remove: 'assets/img/' | strip }}"
        alt="{{ include.alt | strip_html | escape }}"
        width="{{ width | strip }}"
        loading="lazy">
  <figcaption id="{{ include.src | strip }}">
    <p>{{ include.caption | markdownify | strip_html | escape }}</p>
  </figcaption>
</figure>

{% comment %}
usage: {% include image.html src="filename.jpg" class="[img-thumb|img-small| default: img-medium]" alt="your alt text" caption="your caption" %}
{% endcomment %}
